name: Laravel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.3'
    - uses: actions/checkout@v4
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Update Dependencies
      run: composer update --ignore-platform-req=ext-http
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --ignore-platform-req=ext-http
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit/Pest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test



  deploy:
    needs: laravel-tests
    name: Deploy to AWS (EC2)
    runs-on: ubuntu-latest
    steps:
      - name: Ensure Docker is running
        run: |
          sudo systemctl start docker
          sudo systemctl enable docker

      - name: executing remote ssh commands using private key
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            echo "Cleaning up disk space..."
            sudo docker system prune -af
            sudo rm -rf /var/lib/docker/tmp/*

            echo "Navigating to project folder..."
            cd /var/www/JDUS

            echo "Setting permissions..."
            sudo chmod -R 777 storage bootstrap/cache

            echo "Stopping current containers..."
            sudo docker compose down

            echo "Pulling latest changes..."
            sudo git reset --hard
            sudo git pull origin main

            echo "Building and starting containers..."
            sudo docker compose up -d --build
            sleep 5

            echo "Running migrations..."
            sudo docker exec jdu_app php artisan migrate --force

            echo "Optimizing Laravel application..."
            sudo docker exec jdu_app php artisan optimize

            echo "Deployment completed successfully!"
